* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #181818;
    margin: 0;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    color: aliceblue;
    background-color: #2a2a2a;
}
footer ul{
    display: flex;
    flex-direction: row;
    list-style:none;
    text-decoration: none;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    align-items: center;
    font-size: x-large;
    text-align: center;
}
footer ul li a {
    color: #86f8f2b1;
}

.input{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;

}
.input h2{
    font-size: 50px;
    margin: 0;
    text-align: center;
}
.input input{
    color: white;
    font-size: x-large;
    background: none;
    border: none;
    border-bottom: 3px solid #86f8f2;
    width: 80%;
    max-width: 400px;
}
#password{
    text-overflow: ellipsis;
    overflow: hidden;
}
table{
    white-space: nowrap;
}
.sequence tr{
    height: 25px;
}
table td:nth-child(1){
font-weight: bold;
}
table td:nth-child(2){
    color: #86f8f2;
    text-align: center;
}
.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}
.results table{
    background-color: #2a2a2a;
    color:white;
    border-radius: 20px;
    border: none;
    padding: 30px;
    margin-bottom: 40px;
}

.matchSequenceDiv{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    height: auto;
    justify-content: flex-start;
    padding: 50px;
}
.matchSequenceDiv table{
    margin: 20px;
    width: auto;
    min-width: 400px;
    font-size: larger;
}
#swap-animation{
    color: white;
}


#overall{
    min-height: 300px;
    font-size: x-large;
    width: 60%;
}
#guesses{
    min-width: 60%;
    min-height: 300px;
    font-size: x-large;
}
#guesses tr{
display: grid;
grid-template-columns: 1fr 1fr 2fr;
text-align: center;
padding: 15px;
}

.warnandsuggest{
    min-width: 60%;
    min-height: 150px;
}
.warnings{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.warning{
display: flex;
flex-direction: row;
font-size: xx-large;
gap: 15px;
line-height: 100%;
align-items: center;

background-color: #ab20207d;
color: white;
border-radius: 20px;
border: none;
padding: 30px;
margin-bottom: 40px;
height: 150px;
width:912px;
}
.warning i{
    font-size: 40px;
}

.suggestions{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.suggestion{
    background-color: #c2a33e8f;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 30px;
    margin-bottom: 40px;
    height: 150px;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    gap: 25px;
    line-height: 100%;
    align-items: center;
    width:912px;
}
.suggestion i{
    font-size: 40px;
}

/* Title-button */

   .button-container{
    width: 90%;
    position: relative;
    height: 60px;
}
  .body {
    background-color: #00b894;
    margin: 0;
    padding: 0;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  
  .arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #fff;
  }
  
  .arrow::after {
    top: -8px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }


@media only screen and (max-width: 600px) {
    *{table-layout: fixed;}

    #overall{
        width: 90%;
        font-size: large;
        padding: 20px;
    }
    #overall table tbody tr td{
        column-span: 1;

    }
    #guesses{
        width: 90%;
        padding: 20px;
        font-size: large;
    }
    #guesses tr{
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        }
    #guesses tr td{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #guesses tr td:nth-child(3){
        display: none;
    }

    .matchSequenceDiv{
        padding: 0;
    }

    .warnandsuggest{
        width: 90%;
    }
    .warning{
        width: 100%;
        font-size: x-large;
    }
    .suggestion{
        width: 100%;
        font-size: x-large;
    }
  }